network:
  version: 2
  ethernets:
    eno12399np0:
      dhcp4: true
    "{{ NIC_tunnel }}":
      addresses:
      - "{{ tunnel_ip }}"
      dhcp4: false
    "{{ NIC_mgmt }}":
      addresses:
      - "{{ mgmt_ip }}"
      nameservers:
        addresses:
        - "{{ dns1 }}"
        - "{{ dns2 }}"
        search: []
      routes:
      - to: "default"
        via: "{{ mgmt_default_gw }}"
    eno8403:
      dhcp4: true
    "{{ NIC_external }}":
      dhcp4: true
    "{{ NIC_ceph }}":
      addresses:
      - "10.0.20.137/24"
      - "10.0.30.137/24"
      dhcp4: false
