#!/bin/bash

{% for dev in hostvars[inventory_hostname].device %}
pvcreate {{ dev }}
{% endfor %}

vgcreate cinder-volumes 
{% for dev in hostvars[inventory_hostname].device %}
{{- dev -}}
{%- endfor -%}
