#!/bin/bash
# NIC for ceph cluster network

netplan set ethernets."{{NIC_storage}}".dhcp4=false
#openstack1 => 10.0.2.101
ip="{{ hostvars[inventory_hostname].ceph_ip }}"
netplan set ethernets."{{NIC_storage}}".addresses=[$ip/24]

netplan set ethernets."{{NIC_tunnel}}".dhcp4=false
#openstack1 => 10.0.10.101
ip="{{ hostvars[inventory_hostname].tunnel_ip }}"
netplan set ethernets."{{NIC_tunnel}}".addresses=[$ip/24]

netplan apply